<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>CRUD Application Using Vue.js, PHP & MySQLi</title>
	<link rel="stylesheet" href="">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
	<style type="text/css">
		#overlay {
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: rgba(0, 0, 0, 0.6);
		}
	</style>
</head>
<body>
	<div id="app">
		<div class="container-fluid">
			<div class="row bg-dark">
				<div class="col-lg-12">
					<p class="text-center text-light display-4 pt-2" style="font-size: 25px;">CRUD Application Using Vue.js, PHP & MySQLi</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row mt-3">
				<div class="col-lg-6">
					<h3 class="text-info">Registered Users</h3>
				</div>
				<div class="col-lg-6">
					<button class="btn btn-info float-right" @click="showAddModal=true">
						<i class="fas fa-user"></i>&nbsp;&nbsp;Add New User
					</button>
				</div>
			</div>
			<hr class="bg-info">
			<div class="alert alert-danger" v-if="errorMsg">
				{{ errorMsg }}
			</div>
			<div class="alert alert-success" v-if="successMsg">
				{{ successMsg }}
			</div>

			<!-- Displaying Records -->
			<div class="row">
				<div class="col-lg-12">
					<table class="table table-bordered table-striped">
						<thead>
							<tr class="text-center bg-info text-light">
								<th>ID</th>
								<th>Name</th>
								<th>Email</th>
								<th>Phone</th>
								<th>Edit</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr class="text-center" v-for="user in users">
								<td>{{ user.id }}</td>
								<td>{{ user.name }}</td>
								<td>{{ user.email }}</td>
								<td>{{ user.phone }}</td>
								<td><a href="#" class="text-success" @click="showEditModal=true; selectUser(user)">Edit</a></td>
								<td><a href="#" class="text-danger" @click="showDeleteModal=true; selectUser(user)">Delete</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<!-- Add New user Modal-->
		<div id="overlay" v-if="showAddModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Add New User</h5>
						<button type="button" class="close" @click="showAddModal=false">
							<span aria-hidden="true">&times</span>
						</button>
					</div>
					<div class="modal-body p-4">
						<form action="#" method="post">
							<div class="form-group">
								<input type="text" name="name" class="form-control form-control-lg" placeholder="Name" v-model="newUser.name">
							</div>
							<div class="form-group">
								<input type="email" name="email" class="form-control form-control-lg" placeholder="Email" v-model="newUser.email">
							</div>
							<div class="form-group">
								<input type="tel" name="phone" class="form-control form-control-lg" placeholder="Phone" v-model="newUser.phone">
							</div>
							<div class="form-group">
								<button class="btn btn-info btn-block btn-lg" @click="showAddModal=false; addUser(); clearMsg();">Add User</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<!-- Edit User Modal -->
		<div id="overlay" v-if="showEditModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Update User</h5>
						<button type="button" class="close" @click="showEditModal=false">
							<span aria-hidden="true">&times</span>
						</button>
					</div>
					<div class="modal-body p-4">
						<form action="#" method="post">
							<div class="form-group">
								<input type="text" name="name" class="form-control form-control-lg" v-model="currentUser.name">
							</div>
							<div class="form-group">
								<input type="email" name="email" class="form-control form-control-lg" v-model="currentUser.email">
							</div>
							<div class="form-group">
								<input type="tel" name="phone" class="form-control form-control-lg" v-model="currentUser.phone">
							</div>
							<div class="form-group">
								<button class="btn btn-info btn-block btn-lg" @click="showEditModal=false, updateUser(); clearMsg();">Edit User</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<!-- Delete user Modal-->
		<div id="overlay" v-if="showDeleteModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Delete User</h5>
						<button type="button" class="close" @click="showDeleteModal=false">
							<span aria-hidden="true">&times</span>
						</button>
					</div>
					<div class="modal-body p-4">
						<h4 class="text-danger">Are you sure you want to delete this user?</h4>
						<h5>You are deleting '{{ currentUser.name }}'</h5>
						<hr>
						<button class="btn btn-danger btn-lg" @click="showDeleteModal=false; deleteUser(); clearMsg();">Yes</button>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<button class="btn btn-success btn-lg" @click="showDeleteModal=false">No</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0-0/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script type="text/javascript" src="main.js"></script>
</body>
</html>